* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: white;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.main-page {
    display: flex;
    padding: 0.5rem;
    height: 100vh;
    width: 100%;
}

.side-bar {
    width: 330px;
    margin-right: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.top-nav {
    background-color: #121212;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.7rem;
    gap: 1rem;
    opacity: 0.7;
    transition: 0.2s;
}

.nav-item:hover {
    opacity: 1;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.nav-item i {
    color: white;
    font-size: 1.25rem;
}

.library-part {
    background-color: #121212;
    flex-grow: 1;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    overflow: hidden;
}

.lib-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    color: white;
}

.lib-label {
    display: flex;
    align-items: center;
    gap: 1rem;
    opacity: 0.7;
    transition: 0.2s;
}
.lib-label img {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
}

.lib-label:hover {
    opacity: 1;
}

.lib-icons {
    display: flex;
    gap: 1rem;
}

.lib-icons span {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s;
}

.lib-icons span:hover {
    opacity: 1;
}

.box-1, .box-2 {
    background-color: #232323;
    padding: 1rem 0.75rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
}

.text-upper {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.text-lower {
    font-size: 0.8rem;
    opacity: 0.9;
}

.btn-white {
    background-color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: 700;
    margin-top: 1rem;
}

.btn-black {
    background-color: black;
    color: white;
    border: 1px solid #727272;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: 700;
    margin-top: 1rem;
}

.right-content {
    flex-grow: 1;
    background-color: #121212;
    padding: 0 1.5rem;
    border-radius: 1rem;
    overflow: auto;
}

.top-sticky-bar {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.arrow-icons i {
    font-size: 1.5rem;
    margin-right: 1rem;
    opacity: 0.7;
    transition: 0.2s;
}

.arrow-icons i:hover {
    opacity: 1;
}

.top-buttons {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.user-circle {
    font-size: 1.2rem;
}

.title {
    margin-top: 2rem;
    font-size: 1.5rem;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.song-card {
    width: 150px;
    background-color: #181818;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0px 5rem 1.5rem; 
}





.song-card img {
    width: 100%;
    border-radius: 0.5rem;
}

.song-name {
    font-weight: 600;
    margin-top: 1rem;
}

.song-desc {
    font-size: 0.7rem;
    opacity: 0.8;
    margin-top: 0.5rem;
}

.bottom-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-stuff {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    height: 32px;
}

.small-icon {
    width: 1rem;
    height: 1rem;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.2s;
}

.small-icon:hover {
    opacity: 1;
}

.big-play {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.bar-row {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    font-size: 0.75rem;
}

.line-bar {
    flex-grow: 1;
    height: 4px;
    background-color: green;
    cursor: pointer;
}

.start-time, .end-time {
    color: white;
    opacity: 0.7;
}